
#web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  float: left;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
#myclock{
  position: relative;
  margin:50px auto 20px auto;
  text-align: center;
}
#myclock-time{
  margin: 0 auto;
  font-size: 100px;
  color: white;
}
#myclock-date{
  margin: 0 auto 0 320px;
  font-size: 40px;
  color: white;

}


/* left */
.left{

}

/* right */
.right{
  float: right;
  width: 10%;
  height: 100%;
  position: absolute;
  right: 30px;
  top: 0;
}

/* search-wrap ********************************/
#search-wrap{
  display: none;
  /* display: flex; */
  width:70%;
  min-width:300px;
  height:54px;
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border-radius:4px;
  margin:0px auto 160px auto;
  position:relative;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  filter: alpha(opacity=10);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  transition:transform .3s,opacity .5s;
  z-index:2;
}
#search-wrap:hover{
  filter: alpha(opacity=100)!important;
  -moz-opacity: 1!important;
  -khtml-opacity: 1!important;
  opacity: 1!important;
}

#search-menu{
  width:100%;
  padding:10px;
  box-sizing: border-box;
  background-color: white;
  border-radius:4px;
  user-select: none;
  -ms-user-select: none;
  overflow: hidden;
}
#search-form{
  flex: 1;
  display: flex;
  justify-content:space-between;
  align-items:center;
  height:100%;
  width: 80%;
}
#search{
  /* background: cadetblue; */
  border:none;
  height:80%;
  margin-left: 5px;
  margin-right: 5px;
  padding:0 10px 0 20px;
  box-sizing: content-box;
  outline:none;
  font-size: 22px;
  flex:1;
  font-weight: lighter;
  color: #333333;
}


#footer {
  position: fixed;
  color: white;
  left: 0px;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 70px;
  z-index: -1;
}

.card{
  position: fixed;
  right: 0px;
  width: 200px;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0);
  opacity: 0.33;}
.header{
  border-radius: 20px;
  background-color: aquamarine;
  color: #fff;
  padding: 10px;
}
.card:hover{
  opacity: 0.7;
}
.body{
  padding: 0px;
  font-size: 30px;
}
.card img{width: 100%;}

#music-wrap{
  display: flow;
  /* display: flex; */
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  filter: alpha(opacity=10);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0;
  transition:transform .2s,opacity .3s;
}
#music-wrap:hover{
  filter: alpha(opacity=100)!important;
  -moz-opacity: 1!important;
  -khtml-opacity: 1!important;
  opacity: 1!important;
}

.login-box {
  position: fixed;
  opacity: 0;
  border-radius: 20px;
  background-color: #EEEEEE;
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 30px;
  overflow: hidden;
}
.login-box:hover{
  opacity: 0.7;
}
.login-box button {
  border: none;
  font-size: 19px;
  width: 32%;
}
.login-box button:hover{
  background-color:cyan;
}