<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddFavourite</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="src/main.css?v=1.0.2">
</head>
<body>
  <form style="text-align: center">
    名称: <input type="text" id = "alias"> <br>
    链接: <input type="text" id = "url"> <br>
      <div class="footer">
          <button type="button" class="button" id="ok" onclick="commit()">确认</button>
          <button type="button" class="button" id="cancel" onclick="goBack()">取消</button>
      </div>
  </form>
</body>
<script>
    function commit(){
        let alias = document.getElementById('alias').value;
        let url = document.getElementById('url').value;
        if(url == "") {
            parent.layer.msg('链接不能为空')
            return
        }
        var index = parent.layer.getFrameIndex(window.name);
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"#",
            contentType:"application/json",
            data:JSON.stringify({
                "Url":url,
                "Alias":alias
            }),
            success:function (result){
                parent.layer.msg('设置成功');
                parent.layer.close(index);
                parent.location.reload();
            },
            error:function (data) {
                parent.layer.msg('设置失败');
            }
        });
    }
    function goBack(){
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }
</script>
</html>