<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SetFavourite</title>
    <script src="src/buttonfunction.js?v=1.04"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/src/main.css?v=1.0.2">
</head>
<body>
    <div id="FavouriteTable">
    </div>
<script>
    document.getElementById("FavouriteTable").innerHTML = RenderFavouriteTable(getFavourite().data)
</script>
</body>
</html>